@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

nav {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    box-shadow: rgba(121, 121, 121, 0.061) 0px 1px 4px, rgb(109, 109, 109) 0px 0px 0px 3px;
}

.logo {
    margin-left: 40px;
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-left: 20%
}

.button>h3,
i {
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
    color: black;
}

.button>i {
    color: gray;
    font-size: 20px;
}

h1 {
    margin-top: 50px;
}

.cart {
    /* background-color: bisque; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}


.right_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.google {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px 40px;
    height: 25vh;
    width: 45vw;
    font-size: 25px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.google>img {
    height: 90%;
    width: auto;
}

.google>i {
    border-radius: 50%;
    border: 2px solid grey;
    padding: 10px;
}

.itemgoogle>* {
    margin: 10px;
}

.oder {
    margin: 50px 40px;
    height: 45vh;
    width: 45vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.oder>* {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
}

.oder>h2 {
    font-weight: bold;
}

.oder>p {
    width: 90%;
    height: 1px;
    background-color: #acacac;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
    font-size: 20px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    color: #acacac;
}

.top>* {
    margin-right: 60px;
}


.mid {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    width: 90%;
}

.mid>* {
    margin-left: 50px;

}

.mid>i {
    margin: 0;
    height: 100%;
    width: auto;
    font-size: 31.5px;

}

.mid>input {
    background-color: aliceblue;
    width: 50%;
    height: 100%;
    border-radius: 2px;
    border: 2px solid gainsboro;
}

.mid>p {
    border: 2px solid #63E6BE;
    padding: 5px;
    border-radius: 10%;
    color: #63E6BE;
}

.under>h2 {
    color: #63E6BE;
}

.oder>input {
    width: 90%;
    text-align: center;
    border-radius: 20px;
    color: black;
    background-color: #63E6BE;
    height: 15%;
}